@inherits LayoutComponentBase

@code {
    private bool isLoggedIn = false; // Este valor deve ser determinado pela sua lógica de autenticação
}

<div class="main">
    @if (isLoggedIn)
    {
        <NavMenu />
    }
    <div class="content px-4">
        @Body
    </div>
</div>
