@page "/Login"

<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap">
</head>

<body>
    <div class="cabecalho">
        <img src="./images/logo.png" alt="Logo">
    </div>
    <div class="login">
        <form method="post" class="form">
            <h2>Logar</h2>
            <div class="radio-group">
                <label>
                    <input type="radio" name="UserType" value="cliente" checked>
                    <span></span> Cliente
                </label>
                <label>
                    <input type="radio" name="UserType" value="empresa">
                    <span></span> Empresa
                </label>
            </div>
            <label for="username">Login</label>
            <input id="username" name="Username" type="text" placeholder="login">
            <label for="password">Senha</label>
            <input id="password" name="Password" type="password" placeholder="senha">

            <button type="submit">Logar</button>
        </form>
    </div>
</body>
