@page "/login"
@page "/"

@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@using reclameiFront2.Helpers
@inject Api api

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap">
</head>

<body>
    <div class="fakeBody">
    <div class="cabecalho">
        <img src="images/logo.png" alt="Logo">
    </div>
    <div class="login">
        <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit" class="form">
            <h2>Logar</h2>
                <div class="dropdown-group">
                    <label for="userType">Selecione o tipo de usuário:</label>
                    <select id="userType" name="userType" @bind="loginModel.TipoUsuario">
                        <option value="Cliente">Cliente</option>
                        <option value="Empresa">Empresa</option>
                    </select>
                </div>
            <label for="username">Login</label>
            <InputText id="username" @bind-Value="loginModel.Login" placeholder="login" />
            <label for="password">Senha</label>
            <InputText id="password" @bind-Value="loginModel.Senha" type="password" placeholder="senha" />

            <button type="submit">Logar</button>
        </EditForm>
    </div>

        @code {
            private LoginRequestDto loginModel = new LoginRequestDto();

            private async Task HandleValidSubmit()
            {
                var response = await api.PostLoginAsync<LoginResponseDto,LoginRequestDto>("api/Auth/login", loginModel);

                if (response != null && response.Id != "")
                {
                    await JS.InvokeVoidAsync("localStorage.setItem", "UsuarioLogadoId", response.Id);
                    await JS.InvokeVoidAsync("localStorage.setItem", "TipoUsuario", response.TipoUsuario);
                    Navigation.NavigateTo("/minhasReclamacoes");
                }
                else
                {
                    return;
                }
            }

            public class LoginRequestDto
            {
                public string Login { get; set; }
                public string Senha { get; set; }
                public string TipoUsuario { get; set; } = "Cliente";
            }

        public class LoginResponseDto
        {
            public string Id { get; set; }
            public string TipoUsuario { get; set; }
        }
    }
    </div>
</body>
