@page "/minhasReclamacoes"

@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http
@inject NavigationManager Navigation

@inject IJSRuntime JS
@using reclameiFront2.Helpers
@inject Api api

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap">
</head>

<div>
    <h3>Reclamações</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Titulo</th>
                <th>Empresa</th>
                <th>Cliente</th>
                <th>Respondida</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Objetos != null)
            {
                @foreach (var obj in Objetos)
                {
                    <tr>
                        <td>@obj.Titulo</td>
                        <td>@obj.Empresa.Nome</td>
                        <td>@obj.Cliente.Nome</td>
                        <td>@(obj.Atendida ? "Sim" : "Não")</td>
                        <td>
                            <a href=# class="btn btn-primary" @onclick="() => ConsultarReclamacao(obj.Id)">Consultar</a>
                            @if (tipoUsuario.ToLower().Equals("cliente"))
                            {
                                <a href=# class="btn btn-warning" @onclick="() => EditarReclamacao(obj.Id)">Alterar</a>
                                <a href=# class="btn btn-danger" @onclick="() => DeletarReclamacao(obj.Id)">Excluir</a>
                                <a href=# class="btn btn-success" @onclick="() => DefinirAtendida(obj.Id)">Definir como atendida</a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Carregando reclamações...</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public class Reclamacao
    {
        public string? Id { get; set; }
        public string Titulo { get; set; } = "";
        public string Conteudo { get; set; } = "";
        public bool Atendida { get; set; }
        public string IdCliente { get; set; }
        public Cliente? Cliente { get; set; }
        public string IdEmpresa { get; set; }
        public Empresa? Empresa { get; set; }
    }

    public class Cliente
    {
        public string Id { get; set; } = "";
        public string Nome { get; set; } = "";
        public string Login { get; set; } = "";
        public string Senha { get; set; } = "";
    }
    public class Empresa
    {
        public string Id { get; set; }
        public string Nome { get; set; }
        public string Login { get; set; }
        public string Senha { get; set; }
        public string Cnpj { get; set; }
    }

    private IList<Reclamacao>? Objetos { get; set; } = null;
    string tipoUsuario = "";

    protected override async Task OnInitializedAsync()
    {
        string idLogado = await JS.InvokeAsync<string>("localStorage.getItem", "UsuarioLogadoId");
        tipoUsuario = await JS.InvokeAsync<string>("localStorage.getItem", "TipoUsuario");

        if (tipoUsuario.ToLower() == "cliente")
        {
            Objetos = await api.GetAsync<Reclamacao>("/api/Reclamacao/Cliente/" + idLogado);
        }
        else
        {
            Objetos = await api.GetAsync<Reclamacao>("/api/Reclamacao/Empresa/" + idLogado);
        }
    }

    private async Task EditarReclamacao(string id)
    {
        if (!string.IsNullOrEmpty(id))
        {
            string url = $"/editaReclamacao/{id}";
            await JS.InvokeVoidAsync("eval", $"window.location.href='{url}'");
        }
        else
        {
            Console.WriteLine("ID da reclamação está nulo ou vazio.");
        }
    }


    private async Task ConsultarReclamacao(string id)
    {
        if (!string.IsNullOrEmpty(id))
        {
            string url = $"/consultaReclamacao/{id}";
            await JS.InvokeVoidAsync("eval", $"window.location.href='{url}'");
        }
        else
        {
            Console.WriteLine("ID da reclamação está nulo ou vazio.");
        }
    }


    private async Task DefinirAtendida(string id)
    {
        try
        {
            var reclamacao = await api.GetAsync<Reclamacao>("/api/Reclamacao", id);
            reclamacao.Atendida = true;
            await api.PutAsync<Reclamacao>("/api/Reclamacao", id, reclamacao);
            await JS.InvokeVoidAsync("alert", "Reclamação marcada como atendida com sucesso!");
            await JS.InvokeVoidAsync("eval", "window.location.href='minhasReclamacoes'");
            // await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("alert", $"Erro ao carregar reclamação: {ex.Message}");
            Console.WriteLine($"Erro ao carregar reclamação: {ex.Message}");
        }

    }

    private async Task DeletarReclamacao(string id)
    {
        try
        {
            var reclamacao = await api.GetAsync<Reclamacao>("/api/Reclamacao", id);
            reclamacao.Atendida = true;
            await api.DeleteAsync("/api/Reclamacao", id);
            await JS.InvokeVoidAsync("alert", "Reclamação deletada com sucesso!");
            await JS.InvokeVoidAsync("eval", "window.location.href='minhasReclamacoes'");
            // await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("alert", $"Erro ao carregar reclamação: {ex.Message}");
            Console.WriteLine($"Erro ao carregar reclamação: {ex.Message}");
        }

    }

}